@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	--primary-white: #F1f1f1;
	--primary-text-purple: #494165;
	--primary-button-pink: #B68B87;
	--primary-header-green: #72DA79;
	--secondary-button-purple: #A38BE9;
	--secondary-button-purple-hover: #AE95F5;
	--secondary-header-green: #2FC781;
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 150px;
}

#header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Unkempt", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: var(--secondary-button-purple);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#header>img {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	object-fit: cover;
	object-position: center;

}

section {
	height: 800px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#illustrated_julie {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

section img {
	position: absolute;
	height: 1200px;
	width: 100%;
	z-index: -2;
	object-fit: cover;
	object-position: center;
}

#pivot_point {
	position: relative;
	z-index: 1;
}

#pivot_point img {
	width: 100%;
	height: auto;
}


#pivot_point a {
	position: absolute;
	display: inline-block;
	z-index: 1;
}


#about_me {
	position: absolute;
	top: 0px;
	left: -50px;
	height: 150px;
	width: 150px;
	z-index: -1;
}

#contact_me {
	position: absolute;
	top: 150px;
	left: 300px;
	height: 200px;
	width: 200px;
}

#books {
	position: absolute;
	top: -50px;
	left: 180px;
	height: 200px;
	width: 200px;
	z-index: -1;
}

#parents {
	position: absolute;
	bottom: 0px;
	left: -100px;
	height: 150px;
	width: 150px;
	z-index: -1;
}

#events {
	position: absolute;
	bottom: -20px;
	left: 220px;
	height: 150px;
	width: 150px;
	z-index: -1;
}

#author-transition {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 570px;
	gap: 5rem;
	padding: 50px 0px;
	margin: 0px 0px;
}

#author-transition .author-bg {
	position: absolute;
	object-fit: contain;
	width: 100%;
	height: auto;
	z-index: -1;
}

#author-information {
	font-family: "Unkempt", "cursive";
	flex-direction: column;
	display: flex;
	align-items: left;
	justify-content: center;
	max-width: 50%;
	gap: 1.5rem;
	color: var(--secondary-button-purple);
}

#author-information a {
	text-align: center;
	text-decoration: none;
	padding: 8px;
	width: 200px;
	color: white;
	background-color: var(--secondary-button-purple);
	border-radius: 20px;
}

#author-information a:hover {
	background-color: var(--secondary-button-purple-hover);
	cursor: pointer;
}

#author-information p {
	text-align: left;
	max-width: 90%;
}

#daisys-chickens {
	position: absolute;
	top: -635px;
	right: 560px;
	width: auto;
	height: 600px;
	mix-blend-mode: darken;
}

#julie-ann-garnett-photo {
	width: 200px;
	height: auto;
	position: relative;
	z-index: 1;
}

#daisys-delightful-day {
	margin-top: 15rem;
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	gap: 5rem;
	width: 100%;
}

#book-information {
	font-family: "Unkempt", "cursive";
	flex-direction: column;
	display: flex;
	align-items: left;
	justify-content: center;
	max-width: 50%;
	gap: 1.5rem;
	color: var(--secondary-button-purple);
}

#book-information a {
	text-align: center;
	text-decoration: none;
	padding: 8px;
	width: 200px;
	color: white;
	background-color: var(--secondary-button-purple);
	border-radius: 20px;
}

#book-information a:hover {
	background-color: var(--secondary-button-purple-hover);
	cursor: pointer;
}

.wave-container {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.wave-container svg {
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
}
